/* .porta {
    position: relative;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    height: var(--area-altura-porta);
    width: var(--area-largura-porta);
}

.portaFechada {
    height: var(--area-altura-porta);
    width: var(--area-largura-porta);
    background-color: rgb(136, 20, 20);
    border: solid red;
    border-bottom: none;
}

.numero {
    position: absolute;
    top: 30px;
    left: 45%;
    font-size: 50px;
    color: white;
}

.macaneta {
    position: absolute;
    top: calc(0.45 * var(--area-altura-porta));
    left: 15px;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background-color: rgb(214, 12, 12);
}

.chao {
    position: relative;
    height: 10px;
    width: 110%;
    background-color: rgb(233, 208, 170);

}

.selecionada {
    border: 5px solid rgb(243, 201, 14);
    border-bottom: none;
}

.selecionada .numero {
    color: rgb(243, 201, 14);
    font-size: 60px;
}

.selecionada .macaneta {
    background-color: rgb(243, 201, 14);
    ;
}

.portaAberta{
    height: var(--area-altura-porta);
    width: var(--area-largura-porta);
    background-color: black;
    border: solid red;
    border-bottom: none;
}
 */


 .area {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: var(--area-altura-porta);
    width: var(--area-largura-porta);
    margin: 5px;
}

.estrutura {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    border-left: 5px solid red;
    border-top: 5px solid red;
    border-right: 5px solid red;
    background-color: #0005;
    width: 90%;
}

.porta {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: rgb(136, 20, 20);;
    padding: 15px;
}

.numero {
    font-size: 3rem;
}

.macaneta {
    position: absolute;
    align-self: flex-start;
    top: calc(0.45 * var(--area-altura-porta));
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: brown;
}

.chao {
    height: 10px;
    width: 100%;
    background-color: #ddd;
}

.selecionada {
    border-left: 5px solid yellow;
    border-top: 5px solid yellow;
    border-right: 5px solid yellow;
}

.selecionada .numero {
    color: yellow;
}

.selecionada .macaneta {
    background-color: yellow;
}
